<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
	xmlns:layout="http://www.ultraq.net.nz/thymeleaf/Layout"
	layout:decorator="layoutEnseignant">
<head>
<meta charset="utf-8"/>
<title>PROFIL</title>
<link rel="stylesheet" type="text/css"
href="../static/css/spacers.css"
th:href="@{/css/spacers.css}"/>
</head>
<body>
	
	<div layout:fragment="content">
			<div class="col-md-6 col-sl-6 col-xs-12 spacer col-md-offset-3">
			<div class="panel panel-default">
				<div class="panel-heading">PROFIL</div>
					<div class="panel-body">
					<p style= "color:Tomato;" th:if="${alertmodifier}" > MODIFICATIONS ENREGISTREES </p>
						<form th:action="@{/UpdateEnseigant}"
						method="post">
						<div class="form-group">
						<input type="hidden" th:required="required" th:field="*{enseignant.username}" class="form-control" name="username"  />
						<label class="control-label"> NOM </label>
						<input type="text" th:field="*{enseignant.nom}" class="form-control" name="nom"/>
						<span class="text-danger" th:errors="*{enseignant.nom}"></span>
						</div>
						<div class="form-group">
						<label class="control-label"> PRENOM </label>
						<input type="text" th:required="required" th:field="*{enseignant.prenom}" class="form-control" name="Prenom"/>
						<span class="text-danger" th:errors="*{enseignant.nom}"></span>
						</div>
						<div class="form-group">
						<label class="control-label"> PASSWORD </label>
						<input type="text" th:field="*{enseignant.password}" class="form-control" name="password" th:required="required"/>
						<span class="text-danger" th:errors="*{enseignant.password}"></span>
						</div>
						<div class="form-group">
						<label class="control-label"> EMAIL </label>
						<input type="email" th:required="required" th:field="*{enseignant.email}" class="form-control" name="email"/>
						<span class="text-danger" th:errors="*{enseignant.email}"></span>
						</div>
						<div>
						<button type="submit" class="btn btn-primary"> ENREGISTRER</button>
						</div>
						</form>
				</div>
			</div>
		</div>
    </div>
</body>
</html>